.titulologin{
    margin: auto;
    font-size: 30px;
    width: auto;
    height: 100px;
    text-align: center;
}
.conFormlogin{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: 450px;
    margin: 0 435px; 
    padding: 25;
}
.formulariologin{
    margin: auto 50px;
    text-align: center;
}
.login{
    width: 300px;
    height: 20px;
    font-size: 16px; 
    padding: 10px;
}
.bnregistro:link{
    color: black;
}
.bnregistro:visited{
    color: black;
}