.titulohome{
    color: rgb(31, 106, 106);
    margin: auto;
    font-size: 150px;
    width: 700px ;
    height: auto;
    text-align: center;
}
.verifica{
    background-color: rgb(49, 125, 125);
    display: flex;
    justify-content: center;
    width: 900px ;
    height: 500px;
    margin: auto;
}
.btingresar{
    color: black;
    background-color: aquamarine;
    width:100px; 
    height:25px
}
.btnregistro{
    text-decoration: none;
    color: #000;
    
}
.bningresar:link{
    color: black;
}
.bningresar:visited{
    color: black;
}
.imagen1{ 
    margin: auto;
    align-items: center;
    padding: 10px;
    height: 100px;
    margin-left: auto;   
}
.imagen2{ 
    margin: auto;
    width: 1000px ;
    height: 900px;   
    text-align: center;
}
.titlevet{
    margin: auto;
   text-align: center;
}
.comservicebody{
    display: flex;
    justify-content: center;
    height: 400px;
    margin: 0 450px;    
}

.medicina{
    margin: 0 45px;
}
.prevencion{
    margin: 0 45px;
}
.cuidados{
    margin: 0 45px;
}
.comtitlelic{
    display: flex;
    justify-content: center;
    height: 700px;
    margin: 0 450px;    
}
.reunion{
    margin: auto;
    align-items: center;
    padding: 10px;
    height: 100px;
    margin-left: auto;      
}
.colorbodylic{
    background-color: rgb(49, 125, 125);
    justify-content: center;
    width: 900px ;
    height: 650px;
    margin: auto;
}
.titulodoc{
    margin: auto;
   text-align: center;
}
.doctors{
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 0 235px;    
}

.doctora1{
    margin: 0 40px;
    align-items: center;
 
}
.ramos{
    width: 100px;
    height: 100px;
    background-image: url(./Images/20230414_2002461-scaled.jpg);
    background-size:84%;
    border-radius: 50%;
    margin: auto auto;
}
.doctora2{
    margin: 0 40px;
}
.guzman{
    width: 100px;
    height: 100px;
    background-image: url(./Images/vero.jpg);
    background-size:84%;
    border-radius: 50%;
    margin: auto auto;
}
.doctora3{
    margin: 0 40px;
}
.rodriguez{
    width: 100px;
    height: 100px;
    background-image: url(./Images/paty.jpg);
    background-size:84%;
    border-radius: 50%;
    margin: auto auto;
}
