.tituloContacto{
    background-color: rgb(49, 125, 125);
    color: rgb(237, 248, 248);
    margin: auto;
    font-size: 30px;
    width: auto;
    height: 100px;
    text-align: center;
}
.conBodyContacto{
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 200px; 
}
.reu{
    margin: 0 2sspx;
}
.mobile{
    margin: 0 05px;
}
.textoc{
    margin: 0 10px;
    font-size: 0px;
}
.textboduC{
    text-align: center;
    font-size: 30px;
}
.sing{
    margin: 0 05px;
}
.conFormulario{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 0 235px; 
    padding: 25;
}
.formulario{
    margin: auto 50px;
    text-align: center;
    font-size: 25px;
}
.inputG{
    width: 300px;
    height: 20px;
    font-size: 16px; 
    padding: 10px;
}
.contacto{
    margin: auto 15px;
}
.mapa{
    width: 1830px;
}