.titulocitas{
    margin: auto;
    font-size: 30px;
    width: auto;
    height: 100px;
    text-align: center;
}
.FormUSer{
    text-align: center;
}
.FormPet{
    text-align: center;
}
.datepet{
    text-align: center;
}
.fechacita{
    text-align: center;
}
.btnCuenta{
    margin: auto;
    font-size: 30px;
    width: auto;
    height: 60px;
    text-align: center;
}